.offer {
  width: 290px;
  height: 460px;
  border: 3px solid #EE8129;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
}
.offer-header {
  box-sizing: border-box;
  background-color: #EE8129;
  color: #FFFFFF;
  padding: px;
  text-transform: uppercase;
}
h2 {
  box-sizing: border-box;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
  list-style-image:url("arrow.png");
}
li:first-child {
  text-transform: uppercase;
}
li:nth-child(2) {
  text-transform: uppercase;
}
a {
  box-sizing: border-box;
  background-color: #EE8129;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

