input {
  display: none;
}
label {
  color: red;
  text-decoration: underline red;
  cursor: pointer;
}
/*.red {*/
/*  display: none;*/
/*}*/
/*.blue {*/
/*  display: none;*/
/*}*/
/*.green {*/
/*  display: none;*/
/*}*/
.red {
  background-color: red;
  color: white;
  padding: 5px 5px;
  margin: 2px 2px;
  border-radius: 10px;
}
.blue {
  background-color: blue;
  color: white;
  padding: 5px 5px;
  margin: 2px 2px;
  border-radius: 10px;
}
.green {
  background-color: green;
  color: white;
  padding: 5px 5px;
  margin: 2px 2px;
  border-radius: 10px;
}