body {
  background: #000000;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: #3170A6;
  font-weight: normal;
  margin: 30px auto;
}

h1 > span {
  color: #EE8129;
}

.container {
  width: 46%;
  min-width: 350px;
  display: inline-block;
  margin: 10px 20px;
}
img {
  height: 100px;
  float: left;
}

.feedback {
  margin-left: 120px;
  background-color: white;
  padding: 13px;
  font-size: 13px;
  position: relative;
}
.feedback::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 35px;
  border: 10px solid;
  border-color: transparent white transparent transparent;

}
