
body {
  width: 100%
}
nav {
  background-color: #A64DFF;
  width: 1031px;
  font-family: 'Oswald', sans-serif;
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
}
.menu{
  padding: 0;
}
.menu li a {
  padding: 10px 16px;
  color: white;
  text-decoration: none;
  line-height: 40px;
}
.menu li a:hover {
  background-color: #EEEEEE;
  color: #A0A0A0;
}
ul > li:last-child {
 /*margin-left: 400px;*/
  margin-right: 50px;
}
ul > li:first-child {
  margin-left: 60px;
}